---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<article>
				<h1><a href="/">{SITE_TITLE}'s Digital Space</a></h1>

				<p>Wecome! I'm Felix Murray Tang, an innovator, creator, and lifelong learner.
					This space reflects my passions, projects, and the endless curiosity that drives me.
					As a multifaceted individual, I have a deep love for technology, nature, and knowledge.</p>

				<p>This website is a digital space where I cultivate my thoughts, ideas, and projects.
					It's a place for me to share my journey, learnings, and creations with the world.
					Here, you'll find a mix of contents.</p>
				<ul>
					<li><a href="/notes/">Notes</a> are all my short notes,
						and <a href="/articles/">Articles</a> are notes tagged as article with deep research and thoughts</li>

					<li><a href="/projects/">Projects</a> are all my projects</li>

					<li><a href="/podcasts/">Podcasts</a> are my daily podcasts with thoughts</li>
					<li><a href="/videos/">Videos</a> are my videos on YouTube</li>
				</ul>

				<h2>What I'm doing mainly?</h2>
				<p>My current endeavors span across software, hardware, and personal growth:</p>

				<h3>Software</h3>
				<ul>
					<li>Crafting this website using Astro, with a focus on content creation</li>
					<li>Mastering FreeBSD for server management and advanced networking</li>
					<li>Integrating my entire workflow into Emacs to embrace simplicity</li>
				</ul>

				<h3>Hardware</h3>
				<ul>
					<li>Electronic: Recently completed my first custom PCB design using KiCad</li>
					<li>Mechanical: Exploring 3D printing and modeling with FreeCAD</li>
					<li>Robotics: Planning to dive deeper into ROS (Robot Operating System) in the near future</li>
				</ul>

				<h3>Cross-disciplinary Projects</h3>
				<p>I'm working on (or planning) several small side projects that combine my various skills and interests.</p>

				<h3>Personal Growth</h3>
				<ul>
					<li><a href="/reading">Reading</a> to improve English, expand knowledge and gain new perspectives</li>
					<li><a href="/fitness">Fitness</a> to maintain a healthy lifestyle and improve physical well-being</li>
					<li>Content Creation to value my thoughts, ideas, and experiences
						<ul>
							<li>Writing notes, articles</li>
							<li>Recording podcasts to practice public speaking and storytelling</li>
							<li>Filming videos to YouTube to improve my video editing and storytelling skills</li>
						</ul>
					</li>
				</ul>

				<h2>Connect With Me</h2>
				<p>Feel free to reach out and connect:</p>
				<ul>
					<li>GitHub: <a href="https://github.com/felixmurraytang">felixmurraytang</a></li>
					<li>X (Twitter): <a href="https://x.com/FelixMTang">FelixMTang</a></li>
				</ul>

				<p>Join me on this journey of innovation, exploration, and continuous learning!</p>
			</article>
		</main>
	</body>
</html>
