---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';

type Props = CollectionEntry<'org'>['data'];

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description="mayphus tang's notes, articles, projects, and more" />
	</head>

	<body>
		<main>
			<article>
				<h1><a href="/">{title}</a></h1>
				<slot />
			</article>
		</main>
	</body>
</html>
